.wrapper {
    width: 100%;
    overflow-x: hidden;
    max-width: 100%;

    .detailLinkContainer {
        list-style-position: inside;

        .detailLink {
            list-style-type: disc;

            &::marker {
                color: white;
            }
        }

        

    }
}